@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple website built for practice purposes</p>
    <p>Some applied techs are:</p>
    <ul>
        ASP.NET Core | ASP.NET Core Razor Pages | HTML | JavaScript | CSS | C# | BootStrap | VS Code
    </ul>
    <h2>Context</h2>
    <p>Imagine you're an employee of a pizza company named Contoso Pizza.
    <br>Your manager has asked you to develop an internal pizza inventory management site.
    <br>The site has to support adding, viewing, modifying, and removing types of pizza.</p>
    <p>Click above where says "Pizza List" to test this feature by yourself.</p>
    <h2>Next Practice Step to Implement</h2>
    <h4>Persist and retrieve relational data with Entity Framework Core</h4>
    <div>
        <iframe src="https://fernandotona.com/documents/2022/09/fernando-tona-code-developer-cv.pdf/" width="70%" height="1100px">
    </iframe>
    </div>
</div>
